{{define "_breadcrumb"}}
{{ $breadcrumbLength := len .Breadcrumbs }}

<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <div class="mb-1">
                <ol class="breadcrumb breadcrumb-alternate" aria-label="breadcrumbs">
                    {{ range $i, $breadcrumb := .Breadcrumbs }}
                    {{ if IsLastInRange $i $breadcrumbLength }}
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ else }}
                    <li class="breadcrumb-item">
                        {{ end }}
                        <a href="{{ $breadcrumb.Path }}">{{ $breadcrumb.Label }}</a>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>
        <!-- Page title actions -->
        {{ if not .IsObjectListEmpty }}
        <div class="col-auto ms-auto d-print-none">
            <div class="col-auto">
                <!-- <a href="#" class="btn btn-icon" aria-label="Button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="6" height="6" rx="1" />
                        <rect x="14" y="4" width="6" height="6" rx="1" />
                        <rect x="4" y="14" width="6" height="6" rx="1" />
                        <rect x="14" y="14" width="6" height="6" rx="1" />
                    </svg>
                </a> -->
                <a class="btn" href="#" data-bs-toggle="modal" data-bs-target="#modal-team">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                    </svg>
                    Create
                </a>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{end}}