{{ define "content" }}

{{ if .IsObjectListEmpty }}
<div class="empty">
    <div class="empty-img"><img src="/assets/images/empty_list.svg" alt="" height="128">
    </div>
    <p class="empty-title">Nothing to show here!</p>
    <p class="empty-subtitle text-muted">
        Start by adding a file or creating a folder.
    </p>
    <div class="empty-action">
        <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#modal-team">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            Create file/folder
        </a>
    </div>
</div>
{{ else }}

<div class="row row-cards">

    {{ if eq .User.UserConfig.LayoutStyle 1 }}
        {{ template "listing_view" . }}
    {{ else }}
        {{ template "grid_view" . }}
    {{ end }}

    {{ if .Pagination.IsPaginated }}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="pagination ">
                    <li class="page-item page-prev {{ if not .Pagination.PreviousPath }}disabled{{ end }}">
                        <a class="page-link" href="{{ .Pagination.PreviousPath }}" tabindex="-1">
                            <div class="page-item-subtitle">Previous</div>
                        </a>
                    </li>
                    <li class="page-item page-next {{ if not .Pagination.NextPath }}disabled{{ end }}">
                        <a class="page-link" href="{{ .Pagination.NextPath }}">
                            <div class="page-item-subtitle">Next</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}

{{ define "modals" }}
<div class="modal modal-blur fade" id="modal-team" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/object/create" method="post" onsubmit="return submitModal(this)">
                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                        <a href="#tabs-home-ex2" class="nav-link active" data-bs-toggle="tab" data-type="file">
                            File(s)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tabs-profile-ex2" class="nav-link" data-bs-toggle="tab" data-type="folder">
                            Folder
                        </a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a href="#" class="nav-link" title="Close" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tabs-home-ex2">
                            <div class="uppy-dashboard-container"></div>
                        </div>
                        <div class="tab-pane" id="tabs-profile-ex2">
                            <div class="row mb-3 align-items-end">
                                <div class="col">
                                    <input type="text" class="form-control" name="bucket" />
                                    <input type="text" id="bucketPath" name="bucketPath" value="{{ .CurrentPath }}"
                                        hidden>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Process</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}